<h1>Example 2</h1>


<button ng-click="ctrl.triggerDigest()" class="jank">Jank checker</button>

<div class="box" ng-repeat="item in ctrl.bigArray">
    <p>{{ item.fname }} - {{ item.lname }}</p>

</div>
<div class="box" ng-repeat="item in ctrl.bigArray">
    <p>{{ item.fname }} - {{ item.lname }}</p>

</div>

<div class="box" ng-repeat="item in ctrl.bigArray">
    <p>{{ item.fname }} - {{ item.lname }}</p>

</div>

<div class="box" ng-repeat="item in ctrl.bigArray">
    <p>{{ item.fname }} - {{ item.lname }}</p>

</div>